.breadcrumb-item+.breadcrumb-item::before {
    content: "/";
}

.w-30 {
    width: 30% !important;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: all 1s ease;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.p-relative {
    position: relative !important;
}

.p-absolute {
    position: absolute !important;
}

#search-result {
    background: white !important;
    /*border-radius: 5px;*/
    box-shadow: 0 0.75rem 1rem rgb(189 197 209 / 30%);
    border-top: .1875rem solid #377dff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
}

.text-right {
    text-align: right;
}

@media only screen and (max-width: 576px) {
    #top-header #header-day {
        display: none;
    }
    .thumbnail-slide {
        display: none;
    }

    .swiper-button-next, .swiper-button-prev {
        width: 30px;
        height: 30px;
    }
}

.item-category:hover {
    color: #377dff !important;
}

/* nut alo */
.phone1 { position: fixed; bottom: 110px; width: 167px; z-index: 10001; height: 80px; right: -10px }
.number { position: absolute; top: 0; left: 111px; padding: 5px 5px 5px 15px; background-color: #02a2ff; color: #ffe200; z-index: 0; font-weight: 600; border-radius: 0 30px 30px 0; font-size: 18px; width: 140px; }
.quick-alo-ph-circle { position: absolute; width: 100px; height: 100px; top: -4px; left: 51px; border: 2px solid #96cdee; background-color: transparent; border-radius: 100%; opacity: .1; animation: quick-alo-circle-anim 1.2s infinite ease-in-out; transition: all .5s; transform-origin: 50% 50%; }
.quick-alo-ph-circle-fill { background-color: rgb(246, 202, 98); opacity: .75 !important; position: absolute; width: 80px; height: 80px; top: 5px; left: 62px; background-color: rgba(0, 161, 255, 0.5); border-radius: 100%; border: 2px solid transparent; opacity: .1; animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out; transition: all .5s; transform-origin: 50% 50%; }
.quick-alo-ph-img-circle { position: absolute; width: 45px; height: 45px; top: 22px; left: 80px; background: #FF0010 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABrklEQVRYR82XjTEEQRCFX0dABlwEiAARkAEyIAJEoERACETARUAIJwIyeOqptfbm5qeP3lpTdVVXVzPd3/R0v+4zTLxsYv/4XwAkrwDsV6JyZmaLyKj1ESB5AOCpYfzazAQZttYFuDWz8zDvwE8OkNwF8NIwvjCz2SgAMkqSDuOzyDxYqgKSrwB2GhBKxHsHqGtLCiDDJ42Tj2Z27LLu2JQCnAK4a5x7M7Nth23XlhRgE8B74+SemempQtaKEpKsPUPo++sGOYCSIIU7zwJ05ficSLLkV6H/CIn7wEi2GRVkOVwFixEoREE/hz9DsR2TVKkp2zeSsI9bBUNnJNV4bhIA5cFhVCk2B5JCWVYhSEopjwAob6qa4QGQOKkqcj1iJSdIpmoqWEHIhr7Ph1BNgC4haxAPAC7UITPOc1UrCOXR12TlAnBAyKhAdHvPUg4pIn6AAYQc1ebG8QC+LXfD66XHU2HP7yKQlKhGODWu1gCTY/g7wCAaendNyltrRCQOIAERjCc/ejV1V4H3dp2ES4jU1vVJpXxpogoHSEE7oOEIp9G+/3c1OkArcpMDfAIqL6EhVS6JOAAAAABJRU5ErkJggg==") no-repeat center center; border-radius: 100%; border: 2px solid transparent; opacity: .99; animation: quick-alo-circle-img-anim 1s infinite ease-in-out; transform-origin: 50% 50%; }
.quick-alo-phone .quick-alo-green .quick-alo-hover .quick-alo-ph-img-circle, .quick-alo-phone.quick-alo-green:hover .quick-alo-ph-img-circle { background-color: #ff0101; }
@-moz-keyframes quick-alo-circle-anim {
    0% { -moz-transform: rotate(0) scale(.5) skew(1deg); opacity: .1; -moz-opacity: .1; -webkit-opacity: .1; -o-opacity: .1 }
    30% { -moz-transform: rotate(0) scale(.7) skew(1deg); opacity: .5; -moz-opacity: .5; -webkit-opacity: .5; -o-opacity: .5 }
    100% { -moz-transform: rotate(0) scale(1) skew(1deg); opacity: .6; -moz-opacity: .6; -webkit-opacity: .6; -o-opacity: .1 }
}
@-webkit-keyframes quick-alo-circle-anim {
    0% { -webkit-transform: rotate(0) scale(.5) skew(1deg); -webkit-opacity: .1 }
    30% { -webkit-transform: rotate(0) scale(.7) skew(1deg); -webkit-opacity: .5 }
    100% { -webkit-transform: rotate(0) scale(1) skew(1deg); -webkit-opacity: .1 }
}
@-o-keyframes quick-alo-circle-anim {
    0% { -o-transform: rotate(0) kscale(.5) skew(1deg); -o-opacity: .1 }
    30% { -o-transform: rotate(0) scale(.7) skew(1deg); -o-opacity: .5 }
    100% { -o-transform: rotate(0) scale(1) skew(1deg); -o-opacity: .1 }
}
@-moz-keyframes quick-alo-circle-fill-anim {
    0% { -moz-transform: rotate(0) scale(.7) skew(1deg); opacity: .2 }
    50% { -moz-transform: rotate(0) -moz-scale(1) skew(1deg); opacity: .2 }
    100% { -moz-transform: rotate(0) scale(.7) skew(1deg); opacity: .2 }
}
@-webkit-keyframes quick-alo-circle-fill-anim {
    0% { -webkit-transform: rotate(0) scale(.7) skew(1deg); opacity: .2 }
    50% { -webkit-transform: rotate(0) scale(1) skew(1deg); opacity: .2 }
    100% { -webkit-transform: rotate(0) scale(.7) skew(1deg); opacity: .2 }
}
@-o-keyframes quick-alo-circle-fill-anim {
    0% { -o-transform: rotate(0) scale(.7) skew(1deg); opacity: .2 }
    50% { -o-transform: rotate(0) scale(1) skew(1deg); opacity: .2 }
    100% { -o-transform: rotate(0) scale(.7) skew(1deg); opacity: .2 }
}
@-moz-keyframes quick-alo-circle-img-anim {
    0% { transform: rotate(0) scale(1) skew(1deg) }
    10% { -moz-transform: rotate(-25deg) scale(1) skew(1deg) }
    20% { -moz-transform: rotate(25deg) scale(1) skew(1deg) }
    30% { -moz-transform: rotate(-25deg) scale(1) skew(1deg) }
    40% { -moz-transform: rotate(25deg) scale(1) skew(1deg) }
    50% { -moz-transform: rotate(0) scale(1) skew(1deg) }
    100% { -moz-transform: rotate(0) scale(1) skew(1deg) }
}
@-webkit-keyframes quick-alo-circle-img-anim {
    0% { -webkit-transform: rotate(0) scale(1) skew(1deg) }
    10% { -webkit-transform: rotate(-25deg) scale(1) skew(1deg) }
    20% { -webkit-transform: rotate(25deg) scale(1) skew(1deg) }
    30% { -webkit-transform: rotate(-25deg) scale(1) skew(1deg) }
    40% { -webkit-transform: rotate(25deg) scale(1) skew(1deg) }
    50% { -webkit-transform: rotate(0) scale(1) skew(1deg) }
    100% { -webkit-transform: rotate(0) scale(1) skew(1deg) }
}
@-o-keyframes quick-alo-circle-img-anim {
    0% { -o-transform: rotate(0) scale(1) skew(1deg) }
    10% { -o-transform: rotate(-25deg) scale(1) skew(1deg) }
    20% { -o-transform: rotate(25deg) scale(1) skew(1deg) }
    30% { -o-transform: rotate(-25deg) scale(1) skew(1deg) }
    40% { -o-transform: rotate(25deg) scale(1) skew(1deg) }
    50% { -o-transform: rotate(0) scale(1) skew(1deg) }
    100% { -o-transform: rotate(0) scale(1) skew(1deg) }
}

.zalo { position: fixed; bottom: 200px; width: 167px; z-index: 10001; height: 80px; right: -10px }
.zalo-number { position: absolute; top: 0; left: 111px; padding: 5px 5px 5px 15px; background-color: #02a2ff; color: #ffe200; z-index: 0; font-weight: 600; border-radius: 0 30px 30px 0; font-size: 18px; width: 140px; }
.zalo-quick-alo-ph-circle { position: absolute; width: 100px; height: 100px; top: -4px; left: 51px; border: 2px solid #96cdee; background-color: transparent; border-radius: 100%; opacity: .1; animation: quick-alo-circle-anim 1.2s infinite ease-in-out; transition: all .5s; transform-origin: 50% 50%; }
.zalo-quick-alo-ph-circle-fill { background-color: rgb(246, 202, 98); opacity: .75 !important; position: absolute; width: 80px; height: 80px; top: 5px; left: 62px; background-color: rgba(0, 161, 255, 0.5); border-radius: 100%; border: 2px solid transparent; opacity: .1; animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out; transition: all .5s; transform-origin: 50% 50%; }
.zalo-quick-alo-ph-img-circle { position: absolute; width: 45px; height: 45px; top: 22px; left: 80px; background: url("https://tourdanangcity.vn/wp-content/uploads/2022/03/zl.png") no-repeat center center; border-radius: 100%; border: 2px solid transparent; opacity: .99; animation: quick-alo-circle-img-anim 1s infinite ease-in-out; transform-origin: 50% 50%; }

.m-bottom-30 {
    margin-bottom: 30px;
}

.nav-link:hover, .nav-link:focus, .nav-link.active {
    color: green !important;
}

.contact-banner {
    height: 600px;
    width: 100%;
    background: url('/assets/user/user4/img/rung-dua-bay-mau-lien-he-ngay.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

@media only screen and (max-width: 576px) {
    .contact-banner {
        height: 200px;
    }
}

.title-contact {
    font-size: 18pt;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
    color: #558e37;
}
